.pagination {
  width: 65%;
  margin: 0 auto;
  height: 7.2rem;
  margin-top: 4rem;
  margin-bottom: 21rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
}

.pagination span {
  font-size: 2rem;
  color: #999696;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination span:hover {
  transform: scale(1.2);
}

.dots {
  cursor: auto !important;
  pointer-events: none !important;
}

.active {
  cursor: auto !important;
  pointer-events: none !important;
}

.arrow {
  cursor: pointer;
}

.pagination img {
  width: 3.24rem;
  height: 3.24rem;
  transition: all 0.3s;
}

.pagination img:hover {
  transform: scale(1.2);
}

.active {
  cursor: none;
  background-color: #7e7e7e;
  border-radius: 3rem;
  color: #000 !important;
  padding: 1rem 1.6rem;
}

@media (max-width: 94em) {
  .pagination {
    width: 90%;
  }
}

@media (max-width: 88em) {
  .pagination {
    width: 70%;
  }
}

@media (max-width: 81.5em) {
  .pagination {
    width: 75%;
  }
}

@media (max-width: 75em) {
  .pagination {
    width: 80%;
  }
}

@media (max-width: 62.5em) {
  .pagination {
    width: 85%;
  }
}

@media (max-width: 44em) {
  .pagination {
    width: 90%;
  }
}

@media (max-width: 41em) {
  .pagination {
    gap: 3rem;
    justify-content: center;
  }
}

@media (max-width: 36em) {
  .pagination {
    width: 95%;
  }
}

@media (max-width: 29em) {
  .pagination {
    justify-content: center;
    gap: 1.6rem;
  }
}

@media (max-width: 24em) {
  .pagination {
    font-size: 1.6rem;
  }
}
