.mainSection {
  width: 100%;
}

.cardContainer {
  margin: 0 auto;
  margin-top: 40rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: end;
  gap: 6.4rem;
  width: 80%;
}

.loading {
  width: 100%;
  margin: 0 auto;
  margin-top: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  /* height: 36.9rem; */
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.2rem;
}

.cardImg {
  transform: translateY(-5rem);
  padding-top: 1rem;
  border-top: 1px solid #fff;
  width: 85%;
}

p {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  transform: translateY(-4rem);
}

@media (max-width: 94em) {
  .cardContainer {
    margin-top: 28rem;
    width: 90%;
  }
}

@media (max-width: 88em) {
  .cardContainer {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 81.5em) {
  .cardContainer {
    gap: 4rem;
    width: 75%;
  }
}

@media (max-width: 75em) {
  .cardContainer {
    gap: 2rem;
    width: 80%;
  }
}

@media (max-width: 62.5em) {
  .cardContainer {
    width: 85%;
  }
}

@media (max-width: 45em) {
  .loading {
    margin-top: 5rem;
  }

  .cardContainer {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 41em) {
  .cardContainer {
    justify-items: center;
  }
}

@media (max-width: 36em) {
  .cardContainer {
    width: 95%;
  }
}

@media (max-width: 27em) {
  .cardContainer {
    grid-template-columns: 1fr;
    margin-top: 20rem;
    gap: 8rem;
  }

  .card {
    width: 30rem;
    height: 45rem;
  }
}
