html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #222222;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

@media (max-width: 62.5em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 41em) {
  html {
    font-size: 40%;
  }
}
